<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}"/>
<title>firefly</title>
</head>
<body>
    <h1>hello,firefly!</h1>
    <p>
        <input type="button" id="shutDownApp" value="关闭应用" />
    </p>
</body>
<script type="text/javascript" src="../static/lib/jquery-1.11.1.min.js" th:src="@{/lib/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" src="../static/js/common.js" th:src="@{/js/common.js}"></script>
<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</html>